<div class="w3-modal-content w3-center form-scroll w3-padding-32">
  <span onclick="document.getElementById('notice-form').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
  <%= simple_form_for @notice, remote: true do |f| %>
      <div class='w3-padding'>
        <%= f.text_area :title, placeholder: "Content", class: 'w3-input w3-border w3-round' %>
      </div>
      <%= f.button :submit, class: 'w3-btn w3-white w3-border w3-border-blue w3-round-large' %>
  <% end %>
</div>



