<div class='content-header'>
  <p class='w3-jumbo w3-margin-left' style='margin-bottom: 0px;'>Athletes</p>
  <hr style='margin-left: 10px; margin-top: 0px; width:25%; border:5px solid #003278;' class='w3-round'>
</div>
<div>
  <% if current_user&.editor? %>
    <%= link_to 'New Athlete', new_athlete_path, remote: true, class: 'w3-btn w3-white w3-border w3-border-blue w3-round-large' %>
  <% end %>
  <div id="athlete-form" class='w3-modal w3-display-middle' style="display:none;"></div>
  <div id='athletes'><%= render @athletes %></div>
</div>
